#frame{
    height: 90px;
    width: 100%;
    background: black;
    display: table;
}
#frame #text{
    background: black;
    color: white;
    font-size: 35px;
    font-family:"微软雅黑";
    font-weight:bold;
    vertical-align:middle;
    display:table-cell;
    position:relative;
    left: 150px;
    width: 1150px;
}
#frame #text1{
    background: black;
    color: grey;
    font-size: 25px;
    font-family:"Arial";
    vertical-align:middle;
    display:table-cell;
    position:relative;
}
#option{
    position: relative;
    left: 10px;
    top: 10px;
    width: 250px;
    height: 450px;
    border: 2px solid darkgray;
}
#option .option_box{
    position: relative;
    width: 300px;
    height: 70px;
    border: none;
}
#option .option_box .button_source{
    height: 70px;
    width: 150px;
    font-family:"微软雅黑";
    background: white;
    color: black;
    display: inline-block;    /*文字上下左右居中 inline水平排列 block垂直排列*/
    align-items: center;
    justify-content: center;
    margin-left: -20px;
    font-size: 20px;
    font-weight: normal;
    border: none;
    outline: none;
    cursor: pointer;
    /*border: 2px solid red;*/
}
#option .option_box #image{
    display: inline-block;
    margin-left: 30px;
}
#option .option_box #image1{
    display: inline-block;
    position: absolute;
    left: 200px;
    top: 20px;
    cursor: pointer;
}
#option .button_source1{
    height: 50px;
    width: 120px;
    font-family:"微软雅黑";
    background: white;
    color: black;
    display: block;    /*文字上下左右居中 inline水平排列 block垂直排列*/
    align-items: center;
    justify-content: center;
    margin-left: 110px;
    font-size: 18px;
    font-weight: normal;
    border: none;
    outline: none;
    cursor: pointer;
}
#option .button_source2{
    height: 50px;
    width: 120px;
    font-family:"微软雅黑";
    background: white;
    color: black;
    display: none;    /*文字上下左右居中 inline水平排列 block垂直排列*/
    align-items: center;
    justify-content: center;
    margin-left: 110px;
    font-size: 18px;
    font-weight: normal;
    border: none;
    outline: none;
    cursor: pointer;
}
#option .button_source3{
    height: 50px;
    width: 120px;
    font-family:"微软雅黑";
    background: white;
    color: black;
    display: none;    /*文字上下左右居中 inline水平排列 block垂直排列*/
    align-items: center;
    justify-content: center;
    margin-left: 110px;
    font-size: 18px;
    font-weight: normal;
    border: none;
    outline: none;
    cursor: pointer;
}
#message{
    position: absolute;
    left: 270px;
    top: 100px;
    width: 1240px;
    line-height: 60px;
    border: 2px solid darkgray;
}
#message #text{
    background: white;
    color: darkgrey;
    font-size: 22px;
    font-family:"微软雅黑";
    vertical-align: middle;
    position: relative;
    left: 50px;
    width: 100px;
    display: inline-block;
}
.task_item{
    color: steelblue;
    font-size: 25px;
    display: inline-block;
    border: 3px solid darkgrey;
    margin-left: 10px;
    position: absolute;
    left: 300px;
    top: 200px;
    width: 200px;
    height: 40px;
    cursor: pointer;
    text-align: center;
    z-index: 999;
    border-radius: 0px;
}
.task_item:hover{
    background-color: cadetblue;
    border: 2px solid cadetblue;
    color: white;
}
.task_info{
    border: 2px solid darkgrey;
    width: 300px;
    height: 250px;
    position: absolute;
    left: 310px;
    top: 239px;
}
.task_info #text1{
    font-size: 18px;
    letter-spacing: 3px;
    font-family:"微软雅黑";
    color: #606060;
    position: relative;
    top: 30px;
    left: 30px;
    width: 300px;
}
.task_info #frame1{
    position: relative;
    left: 10px;
    top: 50px;
    width: 270px;
    height: 40px;
    background-color: lightgrey;
    vertical-align: middle;
    border: 1px solid darkgray;
    margin-top: 5px;
    display: block;
}
.task_info .item1{
    color: black;
    font-size: 17px;
    letter-spacing: 0.05ch;
    font-family:"Arial";
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
    /*border: 2px solid darkgray;*/
    width: 130px;
    text-align:right;
}
.task_info .item2{
    color: red;
    font-size: 17px;
    font-family:"Times New Roman";
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
    /*border: 1px solid black;*/
    width: 100px;
    text-align: center;
}
.main{
    position: absolute;
    left: 270px;
    top: 250px;
    width: 1240px;
    /*height: 550px;*/
    height: 300px;
    border: 2px solid darkgray;
    overflow-y: hidden;
    overflow-x: scroll;
    opacity: 1;
}
.main #Task1{
    position: relative;
    left: 20px;
    top: 0px;
    /*width: 2650px;*/
    width: 1000px;
    height: 490px;
    /*border: 2px solid darkgray;*/
}
.main #Task1 #text{
    font-size: 22px;
    letter-spacing: 3px;
    font-family:"微软雅黑";
    color: royalblue;
    position: relative;
    top: 20px;
    left: 20px;
    width: 300px;
}
.main #Task1 #text1{
    font-size: 18px;
    letter-spacing: 3px;
    font-family:"微软雅黑";
    color: #606060;
    position: relative;
    top: 40px;
    left: 10px;
    width: 300px;
}
.main #Task1 #frame1{
    position: relative;
    left: 0px;
    top: 50px;
    width: 270px;
    height: 40px;
    background-color: lightgrey;
    vertical-align: middle;
    border: 1px solid darkgray;
    margin-top: 5px;
    display: block;
}
.main #Task1 #frame1 .item1{
    color: black;
    font-size: 17px;
    letter-spacing: 0.05ch;
    font-family:"Arial";
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
    /*border: 2px solid darkgray;*/
    width: 130px;
    text-align:right;
}
.main #Task1 #frame1 .item2{
    color: red;
    font-size: 17px;
    font-family:"Times New Roman";
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
    /*border: 1px solid black;*/
    width: 100px;
    text-align: center;
}
.main #Task1 .client_item{
    color: red;
    font-size: 17px;
    display: inline-block;
    border: 2px solid #b4dbed;
    margin-left: 10px;
    position: absolute;
    left: 300px;
    top: 20px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    text-align: center;
    z-index: 999;
    border-radius: 7px;
}
.main #Task1 .client_item:hover{
    background-color: royalblue;
    border: 2px solid royalblue;
    color: white;
}
.main #Task1 .Client{
    /*position: relative;*/
    /*left: 300px;*/
    /*top: -180px;*/
    /*margin-left: 10px;*/
    position: absolute;
    left: 300px;
    top: 60px;
    width: 450px;
    height: 450px;
    display: inline-block;
    border: 4px solid #b4dbed;
}
.main #Task1 .Client .text{
    font-size: 22px;
    font-family:"Arial";
    color: royalblue;
    position: relative;
    top: 10px;
    left: 20px;
    width: 300px;
}
.main .Client .more_client{
    position: absolute;
    left: 200px;
    top: 20px;
    height: 35px;
    width: 80px;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 3px;
    font-family:"微软雅黑";
    background: lightslategray;
    color: white;
    display: inline-block;    /*文字上下左右居中 inline水平排列 block垂直排列*/
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
}
.main .Client .remove_client{
    position: absolute;
    left: 320px;
    top: 20px;
    height: 35px;
    width: 100px;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 3px;
    font-family:"微软雅黑";
    background: cadetblue;
    color: white;
    display: inline-block;    /*文字上下左右居中 inline水平排列 block垂直排列*/
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
}
.main #Task1 .Client #frame1{
    position: relative;
    left: 50px;
    top: 50px;
    width: 350px;
    height: 40px;
    background-color: lightgrey;
    vertical-align: middle;
    border: 1px solid darkgray;
    margin-top: 5px;
    display: block;
}
.main #Task1 .Client #frame1 .item1{
    color: black;
    font-size: 17px;
    letter-spacing: 0.05ch;
    font-family:"Arial";
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
    /*border: 2px solid darkgray;*/
    width: 150px;
    text-align:right;
}
.main #Task1 .Client #frame1 .item2{
    color: red;
    font-size: 17px;
    font-family:"Times New Roman";
    display: inline-block;
    margin-left: 30px;
    margin-top: 5px;
    border: 1px solid black;
    width: 130px;
    text-align: center;
}
.main #Task1 .Client_info{
    position: absolute;
    left: 290px;
    top: 60px;
    width: 450px;
    height: 400px;
    display: inline-block;
    border: 3px solid gray;
    margin-left: 10px;
    opacity: 1;
    background-color: white;
    z-index: 999;
}
.main #Task1 .Client_info #text{
    font-size: 22px;
    letter-spacing: 0px;
    font-family:"微软雅黑";
    color: royalblue;
    position: relative;
    top: 20px;
    left: 20px;
    width: 300px;
    opacity: 1;
}
.main #Task1 .Client_info #text1{
    font-size: 18px;
    letter-spacing: 3px;
    font-family:"微软雅黑";
    color: #606060;
    position: relative;
    top: 40px;
    left: 30px;
    width: 300px;
    opacity: 1;
}
.main #Task1 .Client_info #set_clientinfo{!important;
    position: absolute;
    left: 80px;
    top: 150px;
    /*border: 2px solid darkgray;*/
    border: none;
    width: 400px;
    transform: scale(1.2);
}
.main #Task1 .Client_info .form-horizontal .form-group .col-sm-2_control-label{!important;
    position: absolute;
    left: 0px;
    margin-top: 6px;
}
.main #Task1 .Client_info .form-horizontal .form-group .col-sm-10{!important;
    width: 300px;
    border-radius: 10px;
    margin-left: 100px;
}
.main #Task1 .Client_info .form-horizontal .form-group .col-sm-10 .form-control{!important;
    width: 200px;
    border-radius: 10px;
    text-align: center;
}
.main #Task1 .Client_info .form-horizontal .form-group .col-sm-10 .group{!important;
    width: 200px;
    border-radius: 10px;
}
.main #Task1 .Client_info .modify_clientinfo{
    height: 35px;
    width: 100px;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 3px;
    font-family:"微软雅黑";
    background: gray;
    color: white;
    display: inline-block;    /*文字上下左右居中 inline水平排列 block垂直排列*/
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    left: 180px;
    top: -30px;
    margin-left: 20px;
}
.main #Task1 .Client_info .complete_modify_clientinfo{
    height: 35px;
    width: 100px;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 3px;
    font-family:"微软雅黑";
    background: gray;
    color: white;
    display: inline-block;    /*文字上下左右居中 inline水平排列 block垂直排列*/
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    left: 180px;
    top: -30px;
    margin-left: 20px;
}
.main #Task1 .Client_info .close_clientinfo{
    height: 35px;
    width: 100px;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 3px;
    font-family:"微软雅黑";
    background: gray;
    color: white;
    display: inline-block;    /*文字上下左右居中 inline水平排列 block垂直排列*/
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    left: 180px;
    top: -30px;
    margin-left: 20px;
}
