<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/style_homepage_1.css">
    <link rel="icon" href="../static/css/image/1.ico"/>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- 引用他人的alert样式 -->
    <link rel="stylesheet" type="text/css" href="../static/css/sweetalert.css">
    <script type="text/javascript" src="../static/js/sweetalert-dev.js"></script>

    <!-- bootstrapValidator 输入验证库 -->
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>

    <!-- JS -->
    <script src="../static/js/script_homepage_1.js"></script>
</head>
<div class="token" id="token" style="display: none">{{token}}</div>
<div id="frame">
    <div id="image" style="transform: scale(0.8); position: absolute;left: 50px; top: 10px;"><img src="../static/css/image/icon1.png"></div>
    <div id="text">异步联邦学习管理者系统</div>
    <div id="text1">您好！&nbsp{{name}}</div>
</div>
<div id="option">
    <div class="option_box">
        <div id="image" style="transform: scale(0.7);"><img src="../static/css/image/icon2.png"></div>
        <button class="button_source" id="home" style="color: dodgerblue;" onclick="show_home()">我的首页</button>
        <div id="image1" style="transform: scale(0.7);" onclick="show_home()"><img src="../static/css/image/icon6.png"></div>
    </div>
    <button class="button_source1" id="task_deploy" onclick="show_task_deploy()" style="color: dodgerblue; margin-top: -10px; display: block;">部署任务</button>
    <button class="button_source1" id="uploaded_model" onclick="salert()" style="color: black; margin-left: 120px;">已上传模型</button>
    <button class="button_source1" id="client_reward" onclick="salert()" style="color: black; margin-left: 120px;">参与者奖励</button>
    <div class="option_box">
        <div id="image" style="transform: scale(0.7); margin-left: 33px;"><img src="../static/css/image/icon3.png"></div>
        <button class="button_source" id="infolist" onclick="show_infolist()">信息列表</button>
        <div id="image1" style="transform: scale(0.7);" onclick="show_infolist()"><img src="../static/css/image/icon6.png"></div>
    </div>
    <button class="button_source2" id="global_model" onclick="show_global_model()" style="color: black; margin-top: -10px; display: none;">全局模型</button>
    <button class="button_source2" id="weight" onclick="salert()" style="color: black;">权重摘要</button>
    <button class="button_source2" id="train_client" onclick="show_clientinfo()" style="color: black; margin-left: 120px;">训练参与者</button>
    <div class="option_box">
        <div id="image" style="transform: scale(0.7);"><img src="../static/css/image/icon4.png"></div>
        <button class="button_source" id="tasklist" style="margin-left: -23px" onclick="show_tasklist()">任务列表</button>
    </div>
    <div class="option_box">
        <div id="image" style="transform: scale(0.7);"><img src="../static/css/image/icon5.png"></div>
        <button class="button_source" id="user" style="margin-left: -13px" onclick="show_userpage()">管理者信息</button>
    </div>
</div>
<div id="message">
    <div id="text">我的首页</div>
    <div id="text" style="width: 20px;">/</div>
    <div id="text">部署任务</div>
    <div id="text" style="width: 20px;">/</div>
    <div id="text" style="color: black; font-weight:bold; width: 150px;">创建配置文件</div>
    <input type="button" class="file" onclick="complete_create_task()" value="完成配置"/>
    <input type="button" class="file" onclick="cancel_create_task()" style="background: white; color: royalblue; border: 2px solid royalblue;" value="取消配置"/>
</div>
<div id="main1"></div>
<div id="main2"></div>
<div id="main3"></div>
<div id="main">
    <form action="/" method="post" enctype="multipart/form-data" class="file" style="display: none">
        <div><input type="file" accept=".yaml" class="choose_file" id="choose_file"></div>
        <div><input type="submit" value="上传" class="submit_file" id="submit_file"></div>
    </form>

    <form class="form-horizontal" id="create_data" role="form">
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label" style="font-size: 25px;color: darkred;display:inline-block; margin-left: -100px" >data:</label>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2_control-label" style="display:inline-block;">split_data</label>
            <div class="col-sm-10">
                <select class="group" id="split_data" style="width: 150px; text-align: center; height: 35px; border-radius: 10px;">
                    <option value="True" selected>True</option>
                    <option value="False">False</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2_control-label" style="display:inline-block;">client_num</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="client_num" oninput="OnInput (event)" name="client_num" value='1'>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2_control-label" style="display:inline-block;">x_train</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="x_train" name="x_train" value="D:/data/non_iid_data_mnist_range5_label_client3/x_train_1.npy">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2_control-label" style="display:inline-block;">x_test</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="x_test" name="x_test" value="D:/data/non_iid_data_mnist_range5_label_client3/x_test_1.npy">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2_control-label" style="display:inline-block;">y_train</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="y_train" name="y_train" value="D://data/non_iid_data_mnist_range5_label_client3/y_train_1.npy">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2_control-label" style="display:inline-block;">y_test</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="y_test" name="y_test" value="D://data/non_iid_data_mnist_range5_label_client3/y_test_1.npy">
            </div>
        </div>
    </form>

    <form class="form-horizontal" id="create_model" role="form">
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label" style="font-size: 25px;color: darkred;display:inline-block; margin-left: -100px" >model:</label>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2_control-label" style="display:inline-block;">filepath</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="filepath" name="filepath" value="D:/model/MNIST/">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2_control-label" style="display:inline-block;">module</label>
            <div class="col-sm-10">
                <select class="group" id="module" style="width: 150px; text-align: center; height: 35px; border-radius: 10px;">
                    <option selected="selected" disabled="disabled" style='display: none' value=''></option>
                    <option value="CNN" selected>CNN</option>
                    <option value="Transformer">Transformer</option>
                    <option value="ResNet">ResNet</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2_control-label" >function</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="function" name="function" value="create_cnn_for_mnist">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2_control-label" >optimizer</label>
            <div class="col-sm-10">
                <select class="group" id="optimizer" style="width: 150px; text-align: center; height: 35px; border-radius: 10px;">
                    <option selected="selected" disabled="disabled" style='display: none' value=''></option>
                    <option value="SGD" selected>SGD</option>
                    <option value="Adam">Adam</option>
                    <option value="Momentum">Momentum</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2_control-label" >learning_rate</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="learning_rate" name="learning_rate" value="0.03">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2_control-label">loss</label>
            <div class="col-sm-10">
                <select class="group" id="loss" style="width: 150px; text-align: center; height: 35px; border-radius: 10px;">
                    <option selected="selected" disabled="disabled" style='display: none' value=''></option>
                    <option value="CategoricalCrossentropy" selected>CategoricalCrossentropy</option>
                    <option value="MeanSquared">MeanSquared</option>
                    <option value="MeanAbsoluteError">MeanAbsoluteError</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2_control-label" >model_type</label>
            <div class="col-sm-10">
                <select class="group" id="model_type" style="width: 150px; text-align: center; height: 35px; border-radius: 10px;">
                    <option selected="selected" disabled="disabled" style='display: none' value=''></option>
                    <option value="tensorflow" selected>tensorflow</option>
                    <option value="pytorch">pytorch</option>
                </select>
            </div>
        </div>
    </form>

    <form class="form-horizontal" id="create_server" role="form">
        <div class="form-group">
            <label for="password" class="device_server" style="font-size: 25px;color: darkred; margin-top: 0px; margin-left: 15px">device_server:</label>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2_control-label">type</label>
            <div class="col-sm-10">
                <select class="group" id="type" name="type" style="width: 150px; text-align: center; height: 35px; border-radius: 10px;">
                    <option value="server" selected>server</option>
                    <option value="client">client</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2_control-label" >server_id</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="server_id" name="server_id" value="server1">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2_control-label" >execution_form</label>
            <div class="col-sm-10">
                <select class="group" id="execution_form" style="width: 150px; text-align: center; height: 35px; border-radius: 10px;">
                    <option value="StandAlone">StandAlone</option>
                    <option value="MutiDevice" selected>MutiDevice</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2_control-label" >aggregation_type</label>
            <div class="col-sm-10">
                <select class="group" id="aggregation_type" style="width: 150px; text-align: center; height: 35px; border-radius: 10px;">
                    <option value="synchronous">synchronous</option>
                    <option value="Asynchronous" selected>Asynchronous</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2_control-label" >aggregation_func</label>
            <div class="col-sm-10">
                <select class="group" id="aggregation_func" style="width: 150px; text-align: center; height: 35px; border-radius: 10px;">
                    <option value="FedAVG">FedAVG</option>
                    <option value="FedCD" selected>FedCD</option>
                    <option value="FedAsync" selected>FedAsync</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2_control-label" >maxround</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="maxround" name="maxround" value="2000">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2_control-label" >sim_cc</label>
            <div class="col-sm-10">
                <select class="group" id="sim_cc" style="width: 150px; text-align: center; height: 35px; border-radius: 10px;">
                    <option value="True">True</option>
                    <option value="False" selected>False</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2_control-label" >sim_zip_path</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="sim_zip_path" name="sim_zip_path" value="D:/model/">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2_control-label" >target_acc</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="target_acc" name="target_acc" value="0.95">
            </div>
        </div>
    </form>

    <form class="form-horizontal" id="create_client" role="form">
        <div class="form-group" id="client_group" name="client_group">
            <label for="password" class="device_client" id="device_client" name="device_client" style="font-size: 25px;color: darkred; margin-top: 0px; margin-left: 15px">device_client_1:</label>
        </div>
        <div class="form-group" id="type_group" name="type_group">
            <label for="password" class="col-sm-2_control-label">type</label>
            <div class="col-sm-10">
                <select class="group" id="type" name="type" style="width: 150px; text-align: center; height: 35px; border-radius: 10px;">
                    <option value="server">server</option>
                    <option value="client" selected>client</option>
                </select>
            </div>
        </div>
        <div class="form-group" id="client_id_group" name="client_id_group">
            <label for="password" class="col-sm-2_control-label">client_id</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="client_id" name="client_id" value="client1">
            </div>
        </div>
        <div class="form-group" id="w_file_initial_group" name="w_file_initial_group">
            <label for="password" class="col-sm-2_control-label" >w_file_initial</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="w_file_initial" name="w_file_initial" value="D:/model/MNIST/w0.h5">
            </div>
        </div>
        <div class="form-group" id="batch_size_group" name="batch_size_group">
            <label for="password" class="col-sm-2_control-label" >batch_size</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="batch_size" name="batch_size" value="128">
            </div>
        </div>
        <div class="form-group" id="train_epoch_group" name="train_epoch_group">
            <label for="password" class="col-sm-2_control-label" >train_epoch</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="train_epoch" name="train_epoch" value="5">
            </div>
        </div>
    </form>
</div>
</html>